*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Poppins', sans-serif;
    overflow-x:hidden ;
     
}

ul{

    list-style: none;
}
.container{

    max-width: 114rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

 @media screen and (min-width:768px){
    .container{

     
        width: 100%;
    }
 }



 @media screen and (min-width:992px){
    .container{


        width: 970px;
    }
 }



 @media screen and (min-width:1200px){
    .container{


        width: 1170px;
    }
 }






/*------------------------------------------------------------------------------*/


.header{

    background-color: var(--black);
    padding: 3rem 0;
  
    
}

:root{

    --primary: #ffa700;
    --black: #2b2b2b;
    --gray: #808080;
    --white:#ffffff;
    --backroundho: linear-gradient(210.41deg, #000046 1.14%, #39b0ff 100.75%);
    --pula : linear-gradient(210.41deg, #5c45dc 1.14%, #b63b60 100.75%);
    --cardtwo: linear-gradient(210.41deg, #6442fa 1.14%, #39b0ff 100.75%);
}

.header__wrapper{


    display: flex;
    justify-content: space-between;
  align-items: center;
}

.header__logo{

    display: flex;
     align-items: center;
    gap: 1rem;
    color: var(--white);
}

.header__logo span{

    color: var(--primary);
}

nav ul{

    list-style: none;
    display: flex;
    gap: 1rem;
}

 

nav ul li a {
    text-decoration: none;

    color: var(--gray);

}



nav ul li a.active {
    

    color: var(--primary);

}


nav ul li a:hover {
    color: var(--primary);

}

nav.open ul{

    right: -50%;
    transition: 0.5s ease-in;
}


.toggle_menu {
    cursor: pointer;
    display: none;
}

.toggle_menu span {
    background-color: var(--primary);
    display: block;
    height: 0.2rem;
    width: 2rem;
    margin-bottom: 0.4rem;
    border-radius: 0.5rem;

}

@media (max-width: 768px) {
    .toggle_menu {
        display: block;
        transition: 0.5s ease-in;
    }


    nav.open ul {
        right:  -50%;
        transition: 0.5s ease-in;
    }

    nav ul {
      
        display: block;
        position: absolute;
        right: -100%;
        top: 8rem;
        height: 100vh;
        width: 100%;
        background-color: white;
        text-align: left;
        z-index: 999;
        transition: 0.5s ease-in;
       
    }

    nav ul li a {
        display: block;
        width: 100%;
        padding: 1rem;
        color: var(--black);
        border-bottom:  1px solid red;
    }

    nav ul li:hover {
        background-color: var(--primary);

    }

    nav ul li:hover a {
        color: var(--black);
    }

    .toggle_menu.open span:nth-child(1){

        transition: 0.5s ease;
        transform: translate(-2px,7.3px) rotate(45deg);
    }

    .toggle_menu.open span:nth-child(2){

        opacity: 0;
        transition: 0;
    }

    .toggle_menu.open span:nth-child(3){

        transition: 0.5s ease;
        transform: translate(-2px,-12px) rotate(-45deg);
    }



}

 /*--------------------------------------------
       Header     Css Ends Here */

       
/*------------------------------------------------------------------------------*/

 .banner{

    padding-bottom: 6rem ;
    padding-top: 12rem;

 }

.banner__wrapper{


    display: flex;
    align-items: center;
    gap: 4rem;
}




.banner img{

  width: 48rem;

}

.banner__content h1{

    color: var(--primary);
    font-size: clamp(3rem,5vw,5rem);
    line-height: 1;
    


}

.banner__content a {

    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.8rem 2rem;
    display: inline-block;
    border-radius: 3rem;
    text-transform: uppercase;
}

.banner__content p {

    margin: 2rem 0 ;
    text-align: justify;

}


@media (max-width: 998px) {
    .banner__wrapper{
   
       flex-direction: column;
    }
   
    .banner img{
   
         width: 100% !important ;
    }
   
   
   }


 /*--------------------------------------------
       Header     Css Ends Here */

/*------------------------------------------------------------------------------*/
.services{

 background-color: var(--black);
    color: white;
    padding: 6rem 0;
}

.services__wrapper{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 3rem;


}



.services__type{

    text-align: center;
}


.services__type p{

    text-align: justify;
}



.services__type h3{


    color: var(--primary);
}


.services__type a{

    border-radius: 3rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary);
    text-transform: uppercase;
    display: inline-block;
    padding: 0.6rem 2rem;
}

.services img,h3,p{

    margin-bottom: 2rem;
}




 /*--------------------------------------------*/

.About{
    background: var(--white);
    padding: 7rem 0;
}
.About__gridWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
 
 
 .About{
        background-color: var(--white);
        padding: 7rem 0;
    }
    .About__gridWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .About h2{
        color: var(--primary);
    }
    .About p{
        text-align: justify;
        color: var(--black);
        font-size: 15px;
        
    }

    @media (max-width: 998px) {
        .services__wrapper{
          
            grid-template-columns: 1fr ;
        }


        .Graphics__wrapper{
   
            flex-direction: column;
         }
         .webdev__wrapper{
   
              flex-direction: column;

         }

          .Social__wrapper{
                 flex-direction: column;

          }
        
         
        }

    @media (max-width: 998px) {
        
         .About__gridWrapper{
   
            display: block;
         }
         .about__wrapper{
            flex-direction: column;
         }
         

         
       
        .About img{
   
            width: 100% !important ;
       }
      

    }



     /*--------------------------------------------
       About     Css Ends Here */




    /*--------------------------------------------*/
       .trends{
        padding: 6rem 0;
        background: var(--black);
       }

    


       .trends h1{
        
        color: var(--primary);
       }

       .trends h3{

        color: var(--white);

       }
        

        .gridWrapper{

           
             
            margin-top: 4rem;
            gap: 3rem;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr ;
        }

        .gridCard p{

            color: var(--black);
        }

        .gridCard{

            background-color: #2b2b2b;
            border-radius: 1rem;
            max-width: 350px;
        }

        .gridCard img{

            width: 100%;
        }

        .gridCard h3{

            color: var(--primary);
        }

       .gridCard h4{

        color: var(--primary);
       }

       .cardcontent{

        padding: 1rem;
       }

       
       @media (max-width: 998px) {
         .gridWrapper{
            grid-template-columns: 1fr !important;
         }
         .gridCard{

            margin: 0 auto;
         }

 

       }

         
        
       

     

       /*--------------------------------------------
      Trends    Css Ends Here */

       

 /*--------------------------------------------*/


       
 .free {
    background-color: var(--primary);
    text-align: center;
    padding: 1em 0 ;
}

.free h3 {
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 3rem;
    text-transform: uppercase;
    margin-bottom: 10rem;
    margin-top: 5rem;

}

       /*--------------------------------------------
      Free     Css Ends Here */


 .footer{
 background-color: var(--black);
 color: var(--gray);
 padding: 3rem 0 ;
  
 }      

 .footer ul{

    list-style: none;
    display: flex;
    gap: 0.8rem;
 }

.footer ul li a i{

    font-size: 1.5rem;
    color: var(--gray);
}


.links{

    display: flex;
    gap: 1rem;


}

.footer__wrapper{


    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*--------------------------------------------*/



.about{

    padding: 6rem 0;
   

 }

.about__wrapper{


    display: flex;
    align-items: center;
}

.about img{

  width: 48rem;

}

.about__content h1{

    color: var(--primary);
    font-size: 5rem;
    line-height: 1;


}

 
.about__content p {

    margin: 2rem 0 ;
    
    text-align: justify;

}
.about__content ul{

    display: flex;
    gap: 2rem;
    text-decoration: none;
    list-style: none;
}


.about__content   a  {

    color: var(--primary);
    text-decoration: none;
    list-style: none;
}

.arrow{
   
        font-size: 30px;
        text-align: center;
        color: var(--primary);
    
 


}


    /*--------------------------------------------
       about     Css Ends Here */

       

 /*--------------------------------------------*/



/*--------------------------------------------*/
 .recent{
    padding: 2rem 0;
    background: var(--black);
   }




   .recent h1{
    
    color: var(--primary);
   }

   .recent p{
     margin-top: 0.5rem;
    color: var(--gray);

   }
     


    .gridWrapper{
       margin-top: 4rem;
         gap: 3rem;
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        
    }


   
    .gridCard p{
         
   
        color: var(--black);
    }

    .gridCard{

        background-color: var(--white);
        border-radius: 1rem;
        
    }

    .gridCard h3{

        color: var(--primary);
    }

   .gridCard h4{

    color: var(--primary);
   }

   .cardcontent{

    padding: 1rem;
   }




    /*--------------------------------------------
       about     Css Ends Here */

       

 /*--------------------------------------------*/




/*--------------------------------------------*/

 .webdev{

    padding: 6rem 0;

 }

.webdev__wrapper{


    display: flex;
    align-items: center;
}

.webdev img{

  width: 38rem;
  margin-left: 8rem;
  

}

.webdev__content h1{

    color: var(--primary);
    font-size: 5rem;
    line-height: 1;


}


.webdev__content h2{

    color: var(--primary);
    

}


 
.webdev__content p {

    margin: 2rem 0 ;
    
    text-align: justify;

}
.webdev__content ul{

    display: flex;
    gap: 2rem;
    text-decoration: none;
    list-style: none;
}


.webdev__content   a  {

    color: var(--primary);
    text-decoration: none;
    list-style: none;
}


.price span {
    color: var(--primary);
    font-size: 30px;
}

.arrow{
   
        font-size: 30px;
        text-align: center;
        color: var(--primary);
}


    /*--------------------------------------------
       webdev     Css Ends Here */

       

 /*--------------------------------------------*/




  /*--------------------------------------------*/



  .Graphics{
    padding: 6rem 0;
    background-color: var(--black);
}

.Graphics__wrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
}


.Graphics_content h1 {
    color: var(--primary);
    font-size: 3.5rem;
    line-height: 1;
}

.Graphics_content a {
    text-decoration: none;
    color: var(--primary);
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 2rem;
    font-size: 30px;

}

.Graphics_content p {
    margin: 4rem 0;
    text-align: justify;
    color: var(--white);
   
}

.Graphics_price span {
    color: var(--primary);
    font-size: 30px;
}


/*--------------------------------------------
   Graphics   Css Ends Here */




/*--------------------------------------------*/



 /*--------------------------------------------*/
   
 .Social {
    padding: 6rem 0;
  
}

.Social__wrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.Social_content h1 {
    color: var(--primary);
    font-size: 3.5rem;
    line-height: 1;
}

.Social_content a {
    text-decoration: none;
    color: var(--primary);
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 2rem;
    font-size: 30px;

}

.Social_content p {
    margin: 4rem 0;
    text-align: justify;
}

.price span {
    color: var(--primary);
    font-size: 30px;
}

 



/*--------------------------------------------
   Social    Css Ends Here */




/*--------------------------------------------*/


.updateTrends {
    padding: 4rem 0;
}

.updateTrends h2 {
    color: var(--primary);
}

.updateTrends_topic ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 12px;
}

.updateTrends_topic ul li i {
    margin-right: 1rem;
}

.updateTrends h3 {
    color: var(--primary);
    margin-bottom: 1rem;
}

.updateTrends a {
    color: var(--primary);
    text-decoration: none;
    margin-top: 2rem;
    display: block;
}

.border-bottom {
    border-bottom: 1px solid rgb(156, 154, 154);
}

.updateTrends_topic {
    padding: 3rem 0;
}

.updateTrends_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
}

.updateTrends_topic img {
    width: 100%;
}

.categories ul {
    list-style: none;
    margin: 2rem 0;
}

.categories ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
}

.categories {
    padding: 2.5rem 0;
}

.thePost {
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-bottom: 2rem;
}

.recentPost h2 {
    margin-bottom: 3rem;
}

.thePost h4 {
    margin-bottom: 1rem;
}

.recentPost {
    padding: 3rem 0;
}

.tags {
    padding: 2rem 0;
}

.tags a {
    border: 2px solid var(--black);
    display: inline-block;
    color: var(--black);
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    margin-right: 1.2rem;
}

.bg-dark {
    background-color: var(--black);
}

.t-white {
    color: var(--white) !important;
}

@media (max-width: 998px) {
    .updateTrends_wrapper {
        grid-template-columns: 1fr;
    }

    .updateTrends_topic ul {
        display: block;
    }
}

 .contacts{

    padding: 4rem 0;
 } 
 .contact__content h1{
color: var(--primary);
 }

 .contact__content ul{

    list-style: none;
   
 }

 .contact__content ul li {
   
   display: flex;
   justify-content: space-between;
  

 }


 .contact__content ul li i {
   color: var(--primary);
 
  }




